@import 'Bootstrap4-6';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #146150;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card_row {
  display: flex;
}

.playing_card {
  height: 165px;
  width: 120px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.playing_card:focus-within~.playing_card, .playing_card:hover~.playing_card {
  transform: translateX(90px);
}

.playing_card:hover {
  transform: translateY(-1rem);
}

.playing_card:not(:first-child) {
  margin-left: -90px;
}

#loading_alert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  box-shadow: 0 0 0 4px #146150;
  transform: scale(1.08);
  z-index: 5;
}

label {
  display: inline;
}

.chip_pictures {
  //width: 90px;
}

#game_buttons_col {
  //height: 185px;
}

@media (max-width: 992px) {
  #game_buttons_col {
    //height: 153px;
  }

  #button_row {
    //height: 74px;
  }

  #chip_row {
    //height: 74px;
  }
}

@media (max-width: 768px) {
  #account_greeting {
    word-wrap: break-word;
    word-break: break-word;
  }

  .chip_pictures {
    //width: 70px;
  }
}

@media (max-width: 576px) {
  .chip_pictures {
    //width: 70px;
  }
}